<script type="text/javascript" src="/assets/common/article_show.js"></script>
<div class="content">
  <div class="container">
    <div id="article_id" hidden="hidden"><%= @article_id %></div>
    <div id="title">
        <label><%= localize_var(:label_title) %></label>
    </div>
    <div id="content">
    </div>
    <div id="others">
    </div>
  </div>
</div>