<script type="text/javascript" src="/assets/common/homes.js"></script>
<div class="content">
  <div class="container">
    <div id="categories">
    </div>
    <div id="articles">
      <table>
        <thead>
          <tr>
            <th class="title"><%= localize_var(:label_title) %></th>
            <th class="category"><%= localize_var(:label_category) %></th>
            <th class="time"><%= localize_var(:label_time) %></th>
            <th class="author"><%= localize_var(:label_author) %></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div class="paginate">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
