<script type="text/javascript" src="/assets/common/categories.js"></script>
<div class="content">
  <div class="container">
    <!-- 多级类别列表 -->
    <div id="categories">
    </div>

    <!-- 文章详情 -->
    <div>
    </div>
  </div>
</div>